html {
    background-color: black;
}
div {
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 1.5em;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}
img {
    width: 100%;
    border: 5px solid white;
}
h1 {
    text-transform: uppercase;
}